@appPrefixUrl: "innloggingsinfo";
@imgDir: "./../img";
@modig-frontend-root-url: "./node_modules/modig-frontend/modig-frontend-ressurser/src/main/resources";

@import "@{modig-frontend-root-url}/less/includes/variables";
@import "@{modig-frontend-root-url}/less/includes/mixins";
@modig-frontend-images-root-url: "./node_modules/modig-frontend/modig-frontend-ressurser/src/main/resources/META-INF/resources/img";

.innloggingsinfo {
    @import "@{modig-frontend-root-url}/less/nav_extra/typografi";
    @import "@{modig-frontend-root-url}/less/nav_extra/paneler";
    @import "@{modig-frontend-root-url}/less/nav_extra/lister";
    @import "@{modig-frontend-root-url}/less/nav_extra/hoder";
    @import "@{modig-frontend-root-url}/less/nav_extra/knapper"; //  @import "@{modig-frontend-root-url}/less/decorator/knapper";
    @import "@{modig-frontend-root-url}/less/decorator/utilities";
    @import "@{modig-frontend-root-url}/less/nav_extra/utilities";
    @import "@{modig-frontend-root-url}/less/nav_extra/knapperader";
    @import "@{modig-frontend-root-url}/less/nav_extra/spinner";

    .spinner {
        background: none;
    }

    #lastet-innhold {
        display: none;
    }

}
.side-innhold {
    .knapp:hover {
        margin-bottom: 0;
        border-bottom: 0;
    }
}

